{% extends 'landing/base/index.html' %}


{% block extrastyle %}{% endblock extrastyle %}

{% block extrascripts %}{% endblock extrascripts %}

{% block pagecontent %}
{% load static %}
<!-- ==================== Start header ==================== -->
<header class="freelancer valign bg-img parallaxie" data-background="https://res.cloudinary.com/dchmztvzz/image/upload/v1625236163/developement/backgrounds/3_g76n7n.jpg" data-overlay-dark="4" style="background-image: url(&quot;https://res.cloudinary.com/dchmztvzz/image/upload/v1625236163/developement/backgrounds/3_g76n7n.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;">
    <div class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cont">
                    <h6>Shifty Solutions</h6>
                    <h2>Offshore en toute simplicité</h2>
                    <h4>Shifty Web Solutions</h4>
                    <div class="social-icon">
                        <a href="#0" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fab fa-pinterest"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ==================== End header ==================== -->

<section class="intro-section section-padding pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="htit sm-mb30">
                    <h4>Notre Approche ?</h4>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1 col-md-8">
                <div class="text">
                    <p class="wow txt animated words chars splitting" style="font-weight:bold">
                        Collaboration fluide, transparence totale, livraison sécurisée. Nous avons développé une meilleure approche du développement de logiciels personnalisés.
                    </p>
                    <p class="wow txt animated words chars splitting">
                        En tirant parti des méthodologies de développement Agile, des outils de conception centrés sur l'humain et des meilleures pratiques en matière de sécurité et de gestion des risques, nous aidons les organisations à répondre à leurs besoins de manière fiable et efficace.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about section-padding" style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 valign">
                <div class="content">
                    <div class="sub-title">
                        <h6>À props de nous</h6>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h3 class="co-tit custom-font wow" data-splitting>
                        Nos 10 ans d'expérience. Nous l'avons dépensé pour faire briller et croître différentes entreprises.
                    </h3>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        SHIFTY SOLUTIONS. 
                        Nous automatisons les entreprises, créons des marques remarquables et des applications de pointe. 
                        parmi une pléthore de services, la conception et le développement de sites Web, les applications sur mesure, 
                        les ERP, les CRM, les solutions de commerce électronique, les applications business-to-business, 
                        les applications business-to-client, 
                        l'hébergement géré et la gestion de portail Internet sont peu nombreux que nous proposons.
                    </p>
                    <p class="mt-10 wow fadeInUp" data-wow-delay=".4s">
                        Des clients satisfaits du monde entier témoignent de la qualité de notre travail.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blc-img">
                    <div class="bimg wow imago">
                        <img src="{% static 'landing/img/intro/3.jpg' %}" alt="">
                    </div>
                    <div class="skills-circle wow fadeInUp" data-wow-delay=".8">
                        <div class="item">
                            <div class="skill" data-value="0.90">
                                <span class="custom-font">90%</span>
                            </div>
                            <div class="cont">
                                <span>Consultations en</span>
                                <h6>Projects</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="skill" data-value="0.98">
                                <span class="custom-font">98%</span>
                            </div>
                            <div class="cont">
                                <span>Developement De</span>
                                <h6>Solutions</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about section-padding" style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="blc-img">
                    <div class="bimg wow imago" style="margin-top:120px">
                        <img src="https://res.cloudinary.com/dchmztvzz/image/upload/v1625238820/developement/illustrations/8619_ahxixe.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 valign">
                <div class="content">
                    <div class="sub-title mt-4">
                        <h6>Se concentrer sur les besoins réels des gens</h6>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h3 class="co-tit custom-font wow" data-splitting>
                        Conception centrée sur et personnalisé
                    </h3>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        Pour chaque écran que nous concevons et construisons, la personne qui interagit avec cet écran est une priorité. Quels sont leurs besoins ? Plus important encore, quels sont les comportements qui motivent ces besoins ? En adoptant une approche de conception centrée sur l'humain, nous sommes en mesure de mieux répondre et d'anticiper les attentes des gens lorsqu'ils interagissent avec votre entreprise et vos produits.
                    </p>
                    <br />
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        Pour y parvenir, nous menons des recherches fondamentales approfondies avant même de commencer à réfléchir à la conception du produit. Cela nous permet de vraiment comprendre les personnes que vous essayez d'atteindre et comment les engager avec succès avec votre produit ou service. À partir de là, nous utilisons nos résultats pour guider la façon dont nous concevons de manière à résoudre le problème et à répondre aux besoins des gens de la manière la plus simple possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about section-padding" style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 valign">
                <div class="content">
                    <div class="sub-title mt-4">
                        <h6>Mélanger Agile et Offshore</h6>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h3 class="co-tit custom-font wow" data-splitting>
                        Développement logiciel agile
                    </h3>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        Le développement logiciel agile permet aux équipes de livrer rapidement, de collaborer souvent et d'améliorer continuellement leur produit. Nous adoptons une approche légèrement modifiée de la méthodologie Agile qui maximise ces avantages tout en utilisant un modèle offshore hybride.
                    </p>
                    <br />
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        Nos équipes techniques ont adapté toutes les compétences de communication nécessaires. Cela facilite la communication et permet une disponibilité 24h/24. Nous organisons des standups quotidiens via des réunions Zoom qui permettent à tout le monde de collaborer et d'être sur la même longueur d'onde, même s'ils ne sont pas dans le même bureau, la même ville ou même le même pays.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blc-img">
                    <div class="bimg wow imago" style="margin-top:120px">
                        <img src="https://res.cloudinary.com/dchmztvzz/image/upload/v1625238955/developement/illustrations/20945498_ts3ugv.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about section-padding" style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="blc-img">
                    <div class="bimg wow imago" style="margin-top:120px">
                        <img src="https://res.cloudinary.com/dchmztvzz/image/upload/v1625238884/developement/illustrations/Data_security_28_wakmgk.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 valign">
                <div class="content">
                    <div class="sub-title mt-4">
                        <h6>Là où la distribution sécurisée rencontre l'efficacité</h6>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h3 class="co-tit custom-font wow" data-splitting>
                        Distribution sécurisée
                    </h3>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        Des protocoles de sécurité efficaces doivent trouver un équilibre entre la protection des données et des informations tout en créant un processus transparent pour les utilisateurs qui impose le moins de frictions possible. Plus un processus de sécurité est lourd, plus une personne est susceptible de laisser un mot de passe ou un code clé important sur un post-it à son bureau. Cette simple erreur de jugement met tout un système en danger d'infraction.
                    </p>
                    <br />
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        En utilisant des outils tels que le contrôle d'accès basé sur les rôles avec authentification unique, nous nous assurons que les gens ont accès à ce dont ils ont besoin de manière efficace. Nous contrôlons l'accès au code source d'une manière très similaire. Nous prenons en compte la sécurité et la confidentialité à chaque étape du processus de développement, des applications uniques et autonomes à l'infrastructure cloud. De plus, nos équipes d'assistance peuvent surveiller votre système après le lancement, en gardant un œil sur tout modèle suspect. Si nous détectons une activité étrange, nous offrons des conseils sur les prochaines étapes pour minimiser tout dommage potentiel.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock pagecontent %}