<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- <meta name="keywords" content="HTML5 Template Avo onepage themeforest" />
    <meta name="description" content="Avo - Onepage Multi-Purpose HTML5 Template" /> -->
    <meta name="author" content="" />
    <!-- Title  -->
    <title>Shifty solutions</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/dchmztvzz/image/upload/v1622214139/logos/logo_white-1_tiqf6r.png" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'landing/css/plugins.css' %}" />
    <!-- Core Style Css -->
    <link rel="stylesheet" href="{% static 'landing/css/style_light.css' %}" />
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body>

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader">
    </div>
    <!-- ==================== End Loading ==================== -->

    <!-- ==================== Start progress-scroll-button ==================== -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- ==================== End progress-scroll-button ==================== -->

    <!-- ==================== Start cursor ==================== -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- ==================== End cursor ==================== -->

    <!-- ==================== Start Navbar ==================== -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="{% static 'landing/img/logo-light.png' %}" style="width:300%" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar" style="color: #000;"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color: #000;" class="nav-link" href="{% url 'index' %}#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000;" class="nav-link" href="{% url 'index' %}#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000;" class="nav-link" href="{% url 'index' %}#block_sec">Results</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000;" class="nav-link" href="{% url 'index' %}#works">Works</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000;" class="nav-link" href="{% url 'index' %}#hire_us">Hire us</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000;" class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">
                            <span class="icon pe-7s-moon cursor-pointer" style="font-size: 16px;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ==================== End Navbar ==================== -->

    <!-- ==================== Start header ==================== -->
    <header class="works-header fixed-slider hfixd valign">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-11 static">
                    <div class="capt mt-50">
                        <div class="parlx">
                            <h2 class="custom-font"><span>Let's</span>Talk About Your project.</h2>
                            <p>Feel free to ask me any question or let’s do to talk about
                                our future collaboration.</p>
                        </div>
                        <div class="bactxt custom-font valign">
                            <span class="full-width">Contact</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ==================== End header ==================== -->

    <!-- ==================== Start main-content ==================== -->
    <div class="main-content">
        <!-- ==================== Start Contact ==================== -->
        <section class="contact section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form md-mb50">
                            <h4 class="extra-title mb-50">Get In Touch.</h4>
                            <form id="contact-form" method="POST" action="{% url 'contact' %}">
                                {% csrf_token %}
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" placeholder="Name*" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" placeholder="Email*" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input id="form_phone" type="text" name="number" placeholder="Phone">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                    </div>
                                    <button type="submit" class="btn-curve btn-color"><span>Send Message</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="cont-info">
                            <h4 class="extra-title mb-50">Contact Info.</h4>
                            <h3 class="custom-font wow" data-splitting>Let's Talk.</h3>
                            <div class="item mb-40">
                                <h5><a href="#0">contact@shiftysolutions.com</a></h5>
                                <h5>+(212) 640.845.583</h5>
                            </div>
                            <div class="social mt-50">
                                <a href="#0" class="icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-behance"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Contact ==================== -->

        <!-- ==================== Start Footer ==================== -->
        <footer class="footer-half sub-bg">
            <div class="container">
                <div class="copyrights text-center mt-0">
                    <p>
                        © 
                        <script> document.write( new Date().getFullYear() ) </script>
                        Made with passion by 
                        <a href="#0">Shifty</a>.
                    </p>
                </div>
            </div>
        </footer>
        <!-- ==================== End Footer ==================== -->
    </div>
    <!-- ==================== End main-content ==================== -->

    <!-- jQuery -->
    <script src="{% static 'landing/js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery-migrate-3.0.0.min.js' %}"></script>
    <!-- plugins -->
    <script src="{% static 'landing/js/plugins.js' %}"></script>
    <!-- custom scripts -->
    <script src="{% static 'landing/js/scripts.js' %}"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9424080.js"></script>
    <!-- End of HubSpot Embed Code -->
    <script>
        
    </script>
    {% if request.GET.msg_sent == "true" %}
    <script>
    swal({
        message : 'Good job!',
        text : 'Your message has been sent succefully !',
        icon : 'success',
        buttons: false,
    })
    </script>
    {% endif %}

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1418320108554219');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1418320108554219&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</body>

</html>