<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- <meta name="keywords" content="HTML5 Template Avo onepage themeforest" />
    <meta name="description" content="Avo - Onepage Multi-Purpose HTML5 Template" /> -->
    <meta name="author" content="" />
    <!-- Title  -->
    <title>Shifty solutions</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/dchmztvzz/image/upload/v1624980875/developement/logos/globe_1_y8vecg.png" color="#FFFFFF"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'landing/css/plugins.css' %}" />
    <!-- Core Style Css -->
    <link rel="stylesheet" href="{% static 'landing/css/style_dark.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        html {
            scroll-behavior: smooth;
        }
        .select2-search { 
            background-color: #0c0f16;
        }
        .select2-results { 
            background-color: #0c0f16;
            color: rgba(255, 255, 255, 0.3);
        }
        .select2 {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .select2-selection__rendered {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.3);
        }
        .select2-container--default .select2-selection--single {
            border:none;
            color: #ffffff;
            background:transparent;
            margin-left: -8px;
        }
        .select2-container--default .select2-results__option--selected {
            background-color: rgba(255, 255, 255, 0.3);
            color:black;
        }
        .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: rgba(255, 255, 255, 0.3);
            color: black;
        }
        .select2-container--default .select2-search--dropdown .select2-search__field {
            /* border: 1px solid #aaa; */
            background: transparent;
            color: #aaa;
        }
        .select2 {
            line-height: 30px;
            margin-top: 15px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 28px;
            color: rgba(255, 255, 255, 0.4);
        }
        
        /* Change the white to any color */
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px #0c0f16 inset !important;
        }

        /*Change text in autofill textbox*/
        input:-webkit-autofill {
            -webkit-text-fill-color: #ffffff !important;
        }
    </style>
</head>

<body>

    <!-- ==================== Start Loading ==================== -->
    <div id="preloader"></div>
    <!-- ==================== End Loading ==================== -->

    <!-- ==================== Start progress-scroll-button ==================== -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- ==================== End progress-scroll-button ==================== -->

    <!-- ==================== Start cursor ==================== -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- ==================== End cursor ==================== -->

    <!-- ==================== Start Navbar ==================== -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="https://res.cloudinary.com/dchmztvzz/image/upload/v1624980490/developement/logos/New_Project_6_u70sg5.png" style="width: 500%;" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}#about">À propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}#skills">Compétences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}#results">Résultats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ==================== End Navbar ==================== -->

    <!-- ==================== Start header ==================== -->
    <header class="works-header fixed-slider hfixd valign">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-11 static">
                    <div class="capt mt-50">
                        <div class="parlx">
                            <h2 class="custom-font"><span>Parlons </span>de votre projet.</h2>
                            <p>N'hésitez pas à nous poser toute question ou faisons nous parler de notre future collaboration.</p>
                        </div>

                        <div class="bactxt custom-font valign">
                            <span class="full-width">Contact</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ==================== End header ==================== -->

    <!-- ==================== Start main-content ==================== -->
    <div class="main-content">
        <!-- ==================== Start Contact ==================== -->
        <section class="contact section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form md-mb50">
                            <h4 class="extra-title mb-50">Get In Touch.</h4>
                            <form id="contact-form" method="POST" action="{% url 'contact' %}">
                                {% csrf_token %}
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" placeholder="Name*" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" placeholder="Email*" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input id="form_phone" type="text" name="number" placeholder="Phone*" required="required">
                                    </div>
                                    <div class="form-group">
                                        <select name="solution" style="width: 100%" class="select2" id="form_solution">
                                            {% for project in projects %}
                                                {% if request.GET.project == project.reference %}
                                                <option value="{{ project.reference }}" selected >{{ project.slogan }}</option>
                                                {% endif %}
                                                <option value="{{ project.reference }}">{{ project.slogan }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                    </div>
                                    <button type="submit" class="btn-curve btn-color"><span>Send Message</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="cont-info">
                            <h4 class="extra-title mb-50">Informations de contact.</h4>
                            <h3 class="custom-font wow" data-splitting>Parlons.</h3>
                            <div class="item mb-40">
                                <h5>
                                    <a href="mail:contact@shiftysolutions.com">
                                        contact@shiftysolutions.com
                                    </a>
                                </h5>
                                <h5>
                                    <a href="tel:+212640835584">
                                        +(212) 640.835.584
                                    </a>
                                </h5>
                            </div>
                            <div class="social mt-50">
                                <a href="#0" class="icon"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0" class="icon"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.pinterest.fr/hsabib/" class="icon"><i class="fab fa-pinterest"></i></a>
                                <a href="#0" class="icon"><i class="fab fa-behance"></i></a>
                            </div>

                            <a href="tel:+212640835584" class="btn-curve btn-color btn-radius mt-4">
                                <span class="icon pe-7s-call" style="font-size:25px; margin-right:10px"></span>
                                <span>Obtenez votre consultation gratuite!</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Contact ==================== -->

        <!-- ==================== Start Footer ==================== -->
        <footer class="footer-half sub-bg">
            <div class="container">
                <div class="copyrights text-center mt-0">
                    <p>
                        © 
                        <script> document.write( new Date().getFullYear() ) </script>
                        Made with passion by 
                        <a href="#0">Shifty solutions</a>.
                    </p>
                </div>
            </div>
        </footer>
        <!-- ==================== End Footer ==================== -->
    </div>
    <!-- ==================== End main-content ==================== -->

    <!-- jQuery -->
    <script src="{% static 'landing/js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery-migrate-3.0.0.min.js' %}"></script>
    <!-- plugins -->
    <script src="{% static 'landing/js/plugins.js' %}"></script>
    <!-- custom scripts -->
    <script src="{% static 'landing/js/scripts.js' %}"></script>

    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9424080.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
    $(document).ready(function(){
        $('.select2').select2({width: 'resolve'});
    });
    </script>
    {% if request.GET.msg_sent == "true" %}
    <script>
    swal({
        message : 'Good job!',
        text : 'Message has been sent succefully !',
        icon : 'success',
        buttons: false,
    })
    </script>
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7Z1X6KSP4T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7Z1X6KSP4T');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1418320108554219');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1418320108554219&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</body>

</html>