<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- <meta name="keywords" content="HTML5 Template Shifty onepage themeforest" /> -->
    <!-- <meta name="description" content="Shifty - Onepage Multi-Purpose HTML5 Template" /> -->
    <meta name="author" content="" />
    <!-- Title  -->
    <title>Shifty solutions</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/dchmztvzz/image/upload/v1622214139/logos/logo_white-1_tiqf6r.png" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'landing/css/plugins.css' %}" />
    <!-- Core Style Css -->
    <link rel="stylesheet" href="{% static 'landing/css/style_light.css' %}" />
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <style>
        .mouse_scroll {
            z-index: 9999998;
            display: block;
            margin: 0 auto;
            width: 24px;
            right: 50%;
            height: 100px;
            bottom: 0;
            position: absolute;
            margin-top: 125px;
        }


        .m_scroll_arrows
        {
        display: block;
        width: 5px;
        height: 5px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0 0 3px 4px;
        
        width: 16px;
        height: 16px;
        }


        .unu
        {
        margin-top: 1px;
        }

        .unu, .doi, .trei
        {
            -webkit-animation: mouse-scroll 1s infinite;
            -moz-animation: mouse-scroll 1s infinite;
            animation: mouse-scroll 1s infinite;
        
        }

        .unu
        {
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        -webkit-animation-direction: alternate;
        
        animation-direction: alternate;
        animation-delay: alternate;
        }

        .doi
        {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -webkit-animation-direction: alternate;
        
        animation-delay: .2s;
        animation-direction: alternate;
        
        margin-top: -6px;
        }

        .trei
        {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -webkit-animation-direction: alternate;
        
        animation-delay: .3s;
        animation-direction: alternate;
        
        
        margin-top: -6px;
        }

        .mouse {
        height: 42px;
        width: 24px;
        border-radius: 14px;
        transform: none;
        border: 2px solid white;
        top: 170px;
        }

        .wheel {
        height: 5px;
        width: 2px;
        display: block;
        margin: 5px auto;
        background: white;
        position: relative;
        
        height: 4px;
        width: 4px;
        border: 2px solid #fff;
        -webkit-border-radius: 8px;
                border-radius: 8px;
        }

        .wheel {
        -webkit-animation: mouse-wheel 0.6s linear infinite;
        -moz-animation: mouse-wheel 0.6s linear infinite;
        animation: mouse-wheel 0.6s linear infinite;
        }

        @-webkit-keyframes mouse-wheel{
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateY(6px);
            -ms-transform: translateY(6px);
            transform: translateY(6px);
        }
        }
        @-moz-keyframes mouse-wheel {
        0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
        }
        @-o-keyframes mouse-wheel {

        0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
        }
        @keyframes mouse-wheel {

        0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
        }

        @-webkit-keyframes mouse-scroll {

        0%   { opacity: 0;}
        50%  { opacity: .5;}
        100% { opacity: 1;}
        }
        @-moz-keyframes mouse-scroll {

        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
        }
        @-o-keyframes mouse-scroll {

        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
        }
        @keyframes mouse-scroll {

        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
        }
    </style>
</head>

<body>
    <!-- ==================== Start Loading ==================== -->
    <div id="preloader"></div>
    <!-- ==================== End Loading ==================== -->

    <!-- ==================== Start progress-scroll-button ==================== -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- ==================== End progress-scroll-button ==================== -->

    <!-- ==================== Start cursor ==================== -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- ==================== End cursor ==================== -->

    <!-- ==================== Start Navbar ==================== -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="#">
                <img src="https://res.cloudinary.com/dchmztvzz/image/upload/v1622214186/logos/New_Project_2_sa72uq.png" style="width:300%" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">À propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Compétences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#results">Résultats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">
                            <span class="icon pe-7s-moon cursor-pointer" style="font-size: 16px;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ==================== End Navbar ==================== -->

    <!-- ==================== Start Slider ==================== -->
    <header class="slider-bus position-re valign">
        <div class="mouse_scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
        </div>
        <div class="container ontop">
            <div class="swiper-container swiper-content">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 offset-lg-1 offset-md-1">
                                <div class="caption">
                                    <h1>
                                        <div class="thin">Business</div>Automation
                                    </h1>
                                    <p>
                                        Fatigué de toute la microgestion au sein de votre entreprise ?
                                        <br />
                                        Remettez-le nous. nous allons nous en occuper avec seulement quelques lignes de code.
                                    </p>
                                    <a href="#services" class="btn-curve btn-color btn-radius mt-30">
                                        <span>Découvrir nos services</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 offset-lg-1 offset-md-1">
                                <div class="caption">
                                    <h1>
                                        <div class="thin">Superbes</div>Apps&nbsp;Génies
                                    </h1>
                                    <p>
                                        Vous avez une idée d'entreprise futuriste qui a besoin d'une application?
                                        <br />
                                        Nous donnerons vie à vos idées
                                        <br />
                                    </p>
                                    <a href="#services" class="btn-curve btn-color btn-radius mt-30">
                                        <span>Découvrir nos services</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 offset-lg-1 offset-md-1">
                                <div class="caption">
                                    <h1 data-splitting>
                                        <div class="thin">Solutions</div>Originales
                                    </h1>
                                    <p>
                                        vous avez besoin de repenser votre nouveau projet?<br />
                                        nouvelle stratégie visuelle, structure ux?<br />
                                        vous avez de bonnes idées de collaboration !
                                    </p>
                                    <a href="#services" class="btn-curve btn-color btn-radius mt-30">
                                        <span>Découvrir nos services</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-container swiper-img">
            <div class="swiper-wrapper">
                <div class="swiper-slide bg-img" data-background="{% static 'landing/img/slid/1.jpg' %}" data-overlay-dark="6"></div>
                <div class="swiper-slide bg-img" data-background="{% static 'landing/img/slid/2.jpg' %}" data-overlay-dark="6"></div>
                <div class="swiper-slide bg-img" data-background="{% static 'landing/img/slid/3.jpg' %}" data-overlay-dark="6"></div>
            </div>
        </div>
        <div class="curve-bg bg-img" data-background="{% static 'landing/img/business-bg.png' %}"></div>

        <!-- slider setting -->
        <div class="setone">
            <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <div class="swiper-pagination custom-font"></div>
    </header>
    <!-- ==================== End Slider ==================== -->

    <!-- ==================== Start about ==================== -->
    <section id="about" class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 valign">
                    <div class="content">
                        <div class="sub-title">
                            <h6>About Us</h6>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h3 class="co-tit custom-font wow" data-splitting>
                            Nos 10 ans d'expérience. Nous l'avons dépensé pour faire briller et croître différentes entreprises.    
                        </h3>
                        <p class="wow fadeInUp" data-wow-delay=".4s">
                            SHIFTY SOLUTIONS. 
                            Nous automatisons les entreprises, créons des marques remarquables et des applications de pointe. 
                            parmi une pléthore de services, la conception et le développement de sites Web, les applications sur mesure, 
                            les ERP, les CRM, les solutions de commerce électronique, les applications business-to-business, 
                            les applications business-to-client, 
                            l'hébergement géré et la gestion de portail Internet sont peu nombreux que nous proposons.
                        </p>
                        <p class="mt-10 wow fadeInUp" data-wow-delay=".4s">
                            Des clients satisfaits du monde entier témoignent de la qualité de notre travail.
                        </p>
                        <a href="#services" class="simple-btn custom-font mt-30 wow" data-splitting><span>Savoir plus</span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blc-img">
                        <div class="bimg wow imago">
                            <img src="{% static 'landing/img/intro/3.jpg' %}" alt="">
                        </div>
                        <div class="skills-circle wow fadeInUp" data-wow-delay=".8">
                            <div class="item">
                                <div class="skill" data-value="0.90">
                                    <span class="custom-font">90%</span>
                                </div>
                                <div class="cont">
                                    <span>Consultations en</span>
                                    <h6>Projects</h6>
                                </div>
                            </div>
                            <div class="item">
                                <div class="skill" data-value="0.98">
                                    <span class="custom-font">98%</span>
                                </div>
                                <div class="cont">
                                    <span>Developement De</span>
                                    <h6>Solutions</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==================== End about ==================== -->

    <!-- ==================== Start Services ==================== -->
    <section id="skills" class="services section-padding sub-bg">
        <div class="container">
            <div class="sec-head custom-font tr-head">
                <h6>Meilleures caractéristiques</h6>
                <h3>Compétences.</h3>
                <span class="tbg">Compétences</span>
            </div>
            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-delay=".3s">
                    <div class="step-item xbottom">
                        <span class="icon pe-7s-config"></span>
                        <h6 style="white-space: nowrap;">Automatisation des affaires</h6>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay=".6s">
                    <div class="step-item xcolor">
                        <span class="icon pe-7s-phone"></span>
                        <h6 style="white-space: nowrap;">Développement Web &mobile</h6>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay=".9s">
                    <div class="step-item xtop">
                        <span class="icon pe-7s-gleam"></span>
                        <h6 style="white-space: nowrap;">Marketing digitale</h6>
                    </div>
                </div>
            </div>
            <div class="smore custom-font">
                <a href="#services">Savoir plus</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
    </section>
    <!-- ==================== End Services ==================== -->

    <!-- ==================== Start block-sec ==================== -->
    <section id="results" class="block-sec">
        <div class="background bg-img section-padding pb-0" data-background="{% static 'landing/img/pattern.png' %}">
            <div class="container">
                <div class="number-sec">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="item no-bord">
                                <span class="icon pe-7s-smile"></span>
                                <h3 class="custom-font"><span class="count">100+</span></h3>
                                <p class="wow txt" data-splitting>Clients&nbsp;Satisfaits</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item">
                                <span class="icon pe-7s-portfolio"></span>
                                <h3 class="custom-font"><span class="count">150+</span></h3>
                                <p class="wow txt" data-splitting>Projets&nbsp;Complets</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item">
                                <span class="icon pe-7s-coffee"></span>
                                <h3 class="custom-font"><span class="count">250+</span> k</h3>
                                <p class="wow txt" data-splitting>Tasses&nbsp;de&nbsp;café</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item">
                                <span class="icon pe-7s-star"></span>
                                <h3 class="custom-font"><span class="count">180+</span></h3>
                                <p class="wow txt" data-splitting>Consultations&nbsp;terminées</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="showreel">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <div class="video-box">
                                <div class="tit-text">
                                    <h3 class="wow" data-splitting>Shifty Solutions</h3>
                                </div>
                                <div class="wow imago">
                                    <div class="img">
                                        <img src="{% static 'landing/img/vid.jpg' %}" alt="">
                                    </div>
                                    <div class="vid-icon">
                                        <a class="vid" href="https://vimeo.com/511999654">
                                            <div class="vid-butn">
                                                <span class="icon">
                                                    <i class="fas fa-play"></i>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==================== End block-sec ==================== -->

    <!-- ==================== Start Works ==================== -->
    <section id="services" class="work-carousel section-padding caroul sub-bg position-re">
        <div class="container-fluid mt-100">
            <div class="sec-head custom-font text-center">
                <h6 class="wow fadeIn" data-wow-delay=".5s">Portfolio</h6>
                <h3 class="wow" data-splitting>Services.</h3>
                <span class="tbg">Services</span>
            </div>
            <div class="row">
                <div class="col-lg-12 no-padding">
                    <div class="cont bgbox mb-4">
                        <center>
                            <h6 style="color: #75dab4">
                                Faites glisser pour naviguer entre les projets
                            </h6>
                        </center>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for project in projects %}
                                <div class="swiper-slide">
                                    <div class="content wow fadeInUp" data-wow-delay=".3s">
                                        <div style="cursor: pointer;" data-project="{{ project.reference }}" data-deleted="{{ project.deleted }}" class="item-img bg-img wow imago" data-background="{{ project.miniature }}"></div>
                                        <div class="cont bgbox">
                                            {% if project.deleted %}
                                            <h6 style="color:#e91b23"><a href="">Coming soon</a></h6>
                                            {% else %}
                                            <h6><a href="">À partir de {{ project.price }}MAD</a></h6>
                                            {% endif %}
                                            <h4 >{{ project.slogan }}.</h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- slider setting -->
                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==================== End Works ==================== -->

    <!-- ==================== Start call-to-action ==================== -->
    <section class="call-action section-padding bg-img" data-background="{% static 'landing/img/pattern2.png' %}" style="background-image: url(&quot;{% static 'landing/img/pattern2.png' %}&quot;)">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10">
                    <div class="content sm-mb30">
                        <h6 class="wow animated words chars splitting" data-splitting="" style="--word-total:2; --char-total:9; visibility: visible;">
                            <span class="word" data-word="PARLONS" style="--word-index:0;">
                                <span class="char" data-char="L" style="--char-index:0;">P</span>
                                <span class="char" data-char="e" style="--char-index:1;">A</span>
                                <span class="char" data-char="t" style="--char-index:2;">R</span>
                                <span class="char" data-char="’" style="--char-index:3;">L</span>
                                <span class="char" data-char="s" style="--char-index:4;">O</span>
                                <span class="char" data-char="s" style="--char-index:5;">N</span>
                                <span class="char" data-char="s" style="--char-index:6;">S</span>
                            </span>
                        </h6>
                        <h2 class="wow custom-font animated words chars splitting" data-splitting="" style="--word-total:5; --char-total:21; visibility: visible;">
                            <span class="word" data-word="DISCUTEZ" style="--word-index:0;">
                                <span class="char" data-char="d" style="--char-index:0;">d</span>
                                <span class="char" data-char="i" style="--char-index:1;">i</span>
                                <span class="char" data-char="s" style="--char-index:2;">s</span>
                                <span class="char" data-char="c" style="--char-index:3;">c</span>
                                <span class="char" data-char="u" style="--char-index:4;">u</span>
                                <span class="char" data-char="t" style="--char-index:5;">t</span>
                                <span class="char" data-char="e" style="--char-index:6;">e</span>
                                <span class="char" data-char="z" style="--char-index:7;">z</span>
                            </span>
                            <span class="whitespace"></span>
                            <span class="whitespace"></span>
                            <span class="whitespace"></span>
                            <span class="word" data-word="VOTRE" style="--word-index:1;">
                                <span class="char" data-char="v" style="--char-index:5;">v</span>
                                <span class="char" data-char="o" style="--char-index:6;">o</span>
                                <span class="char" data-char="t" style="--char-index:7;">t</span>
                                <span class="char" data-char="r" style="--char-index:8;">r</span>
                                <span class="char" data-char="e" style="--char-index:9;">e</span>
                            </span> 
                            <span class="whitespace"></span>
                            <span class="whitespace"></span>
                            <span class="whitespace"></span>
                            <b>
                                <span class="word" data-word="PROCHAIN" style="--word-index:2;">
                                    <span class="char" data-char="p" style="--char-index:10;">p</span>
                                    <span class="char" data-char="r" style="--char-index:11;">r</span>
                                    <span class="char" data-char="o" style="--char-index:12;">o</span>
                                    <span class="char" data-char="c" style="--char-index:13;">c</span>
                                    <span class="char" data-char="h" style="--char-index:14;">h</span>
                                    <span class="char" data-char="a" style="--char-index:15;">a</span>
                                    <span class="char" data-char="i" style="--char-index:16;">i</span>
                                    <span class="char" data-char="n" style="--char-index:17;">n</span>
                                </span>
                                <span class="whitespace"></span>
                                <span class="whitespace"></span>
                                <span class="whitespace"></span>
                                <span class="word" data-word="PROJET" style="--word-index:3;">
                                    <span class="char" data-char="p" style="--char-index:13;">p</span>
                                    <span class="char" data-char="r" style="--char-index:14;">r</span>
                                    <span class="char" data-char="o" style="--char-index:15;">o</span>
                                    <span class="char" data-char="j" style="--char-index:16;">j</span>
                                    <span class="char" data-char="e" style="--char-index:17;">e</span>
                                    <span class="char" data-char="t" style="--char-index:18;">t</span>
                                </span>
                            </b>
                            <span class="word" data-word="." style="--word-index:4;">
                                <span class="char" data-char="." style="--char-index:19;">.</span>
                            </span>
                        </h2>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2 valign">
                    <a href="{% url 'contact' %}" class="btn-curve btn-blc wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <span style="white-space: nowrap;">Discutons</span>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End call-to-action ==================== -->

    <!-- ==================== Start Footer ==================== -->
    <footer class="footer-half sub-bg">
        <div class="container">
            <div class="copyrights text-center mt-0">
                <p>
                    © 
                    <script> document.write( new Date().getFullYear() ) </script>
                    Made with passion by 
                    <a href="#0">Shifty solutions</a>.
                </p>
            </div>
        </div>
    </footer>
    <!-- ==================== End Footer ==================== -->

    <!-- jQuery -->
    <script src="{% static 'landing/js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery-migrate-3.0.0.min.js' %}"></script>

    <!-- plugins -->
    <script src="{% static 'landing/js/plugins.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'landing/js/scripts.js' %}"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9424080.js"></script>
    <!-- End of HubSpot Embed Code -->

    <script>
    $(document).ready(function(){
        $('.item-img').click(function() {
            if ( $(this).data('deleted') === "False" ) {
                window.location.href="{% url 'solution' %}?project="+$(this).data('project')
            }
        });
    });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7Z1X6KSP4T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7Z1X6KSP4T');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1418320108554219');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1418320108554219&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</body>

</html>