<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- <meta name="keywords" content="HTML5 Template Shifty onepage themeforest" /> -->
    <!-- <meta name="description" content="Shifty - Onepage Multi-Purpose HTML5 Template" /> -->
    <meta name="author" content="" />
    <!-- Title  -->
    <title>Shifty</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'landing/img/fav.png' %}" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'landing/css/plugins.css' %}" />
    <!-- Core Style Css -->
    <link rel="stylesheet" href="{% static 'landing/css/style_dark.css' %}" />
</head>

<body>
    <!-- ==================== Start Loading ==================== -->
    <div id="preloader"></div>
    <!-- ==================== End Loading ==================== -->

    <!-- ==================== Start progress-scroll-button ==================== -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- ==================== End progress-scroll-button ==================== -->

    <!-- ==================== Start cursor ==================== -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- ==================== End cursor ==================== -->

    <!-- ==================== Start Navbar ==================== -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="#">
                <img src="{% static 'landing/img/logo-light.png' %}" style="width:300%" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#block_sec">Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#works">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hire_us">Hire us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'solutions' %}" class="btn-curve btn-color btn-sm mt-2"><span>Discover solutions</span></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}?light=1">
                            <span class="icon pe-7s-sun cursor-pointer" style="font-size: 16px;"></span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- ==================== End Navbar ==================== -->

    <!-- ==================== Start wrapper ==================== -->
    <div class="wrapper">
        <!-- ==================== Start Header ==================== -->
        <section class="page-header proj-det bg-img parallaxie valign" data-background="{% static 'landing/img/portfolio/full/'|add:solution.miniature %}"
            data-overlay-dark="4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="cont">
                            <h6></h6>
                            <h2>{{ solution.slogan }}.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="item mt-30">
                            <h6>Creator</h6>
                            <p><a href="#0">Shifty Solutions</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="item mt-30">
                            <h6>Date</h6>
                            <p>{{ solution.created_at.date.day }} December 2019</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item mt-30">
                            <h6>Categories</h6>
                            <p>
                                {% for category in solution.get_categories %}
                                <a href="#0">{{ category.label }} </a>, 
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== Start Header ==================== -->

        <!-- ==================== Start Intro ==================== -->
        <section class="intro-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="htit">
                                <h4><span>01 </span> Introduction</h4>
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-1 col-md-8">
                            <div class="text js-scroll__content">
                                <p class="extra-text">We are a Creative Agency & Startup Studio that provides Digital
                                    Products and Services
                                    turns to focus on client success. We specialize in user interface design, including
                                    front-end development which we consider to be an integral part.</p>

                                <ul class="smp-list mt-30">
                                    <li>Aenean sollicitudin</li>
                                    <li>lorem quis bibendum auctor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- ==================== End Intro ==================== -->

        <!-- ==================== Start call-to-action ==================== -->
        <section style="margin-top:-80px" id="hire_us" class="call-action section-padding sub-bg bg-img" data-background="{% static 'landing/img/pattern.png' %}" style="background-image: url(&quot;{% static 'landing/img/pattern.png' %}&quot;);margin-top:150px">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="content sm-mb30">
                            <h6 class="wow animated words chars splitting" data-splitting="" style="--word-total:2; --char-total:9; visibility: visible;">
                                <span class="word" data-word="Let’s" style="--word-index:0;">
                                    <span class="char" data-char="L" style="--char-index:0;">L</span>
                                    <span class="char" data-char="e" style="--char-index:1;">e</span>
                                    <span class="char" data-char="t" style="--char-index:2;">t</span>
                                    <span class="char" data-char="’" style="--char-index:3;">’</span>
                                    <span class="char" data-char="s" style="--char-index:4;">s</span>
                                </span>
                                <span class="whitespace"></span>
                                <span class="word" data-word="Talk" style="--word-index:1;">
                                    <span class="char" data-char="T" style="--char-index:5;">T</span>
                                    <span class="char" data-char="a" style="--char-index:6;">a</span>
                                    <span class="char" data-char="l" style="--char-index:7;">l</span>
                                    <span class="char" data-char="k" style="--char-index:8;">k</span>
                                </span>
                            </h6>
                            <h2 class="wow custom-font animated words chars splitting" data-splitting="" style="--word-total:5; --char-total:21; visibility: visible;">
                                <span class="word" data-word="order" style="--word-index:0;">
                                    <span class="char" data-char="o" style="--char-index:0;">o</span>
                                    <span class="char" data-char="r" style="--char-index:1;">r</span>
                                    <span class="char" data-char="d" style="--char-index:2;">d</span>
                                    <span class="char" data-char="e" style="--char-index:3;">e</span>
                                    <span class="char" data-char="r" style="--char-index:4;">r</span>
                                </span>
                                <span class="whitespace"></span>
                                <span class="word" data-word="this" style="--word-index:1;">
                                    <span class="char" data-char="t" style="--char-index:5;">t</span>
                                    <span class="char" data-char="h" style="--char-index:6;">h</span>
                                    <span class="char" data-char="i" style="--char-index:7;">i</span>
                                    <span class="char" data-char="s" style="--char-index:8;">s</span>
                                </span> 
                                <span class="whitespace"></span>
                                <b>
                                    <span class="word" data-word="solutions" style="--word-index:2;">
                                        <span class="char" data-char="s" style="--char-index:9;" >s</span>
                                        <span class="char" data-char="o" style="--char-index:10;">o</span>
                                        <span class="char" data-char="l" style="--char-index:11;">l</span>
                                        <span class="char" data-char="u" style="--char-index:12;">u</span>
                                        <span class="char" data-char="t" style="--char-index:13;">t</span>
                                        <span class="char" data-char="i" style="--char-index:14;">i</span>
                                        <span class="char" data-char="o" style="--char-index:15;">o</span>
                                        <span class="char" data-char="n" style="--char-index:16;">n</span>
                                    </span>
                                </b>
                                <span class="word" data-word="." style="--word-index:4;">
                                    <span class="char" data-char="." style="--char-index:20;">.</span>
                                </span>
                            </h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 valign">
                        <a href="{% url 'contact' %}?solution={{ solution.reference }}" class="btn-curve btn-lit"><span>Order Now !</span></a>
                    </div>

                </div>
            </div>
        </section>
        <!-- ==================== End call-to-action ==================== -->

        <!-- ==================== Start Intro ==================== -->
        <section class="intro-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="htit">
                            <h4><span>02 </span> Description</h4>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-1 col-md-8 mb-30">
                        <div class="text js-scroll__content">
                            <p class="extra-text">We are a Creative Agency & Startup Studio that provides Digital
                                Products and Services
                                turns to focus on client success. We specialize in user interface design, including
                                front-end development which we consider to be an integral part.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Intro ==================== -->

        <!-- ==================== Start next-prog ==================== -->
        <section class="next-prog section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="bg-img valign" data-background="{% static 'landing/img/portfolio/full/'|add:solution.miniature %}"
                                data-overlay-dark="4">
                                <div class="caption ontop valign">
                                    <div class="o-hidden full-width">
                                        <h1>
                                            <a href="#0">
                                                <div class="stroke">{{ solution.slogan }}.</div>
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                                <div class="copy-cap valign">
                                    <div class="cap full-width">
                                        <h1>
                                            <a href="#0">
                                                <span>{{ solution.slogan }}.</span>
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End next-prog ==================== -->

        <!-- ==================== Start Footer ==================== -->
        <footer class="footer-half sub-bg">
            <div class="container">
                <div class="copyrights text-center mt-0">
                    <p>© 2020, Avo Template. Made with passion by <a href="#0">UI-ThemeZ</a>.</p>
                </div>
            </div>
        </footer>
        <!-- ==================== End Footer ==================== -->
    </div>
    <!-- ==================== End wrapper ==================== -->

    <!-- jQuery -->
    <script src="{% static 'landing/js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery-migrate-3.0.0.min.js' %}"></script>

    <!-- plugins -->
    <script src="{% static 'landing/js/plugins.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'landing/js/scripts.js' %}"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="https://js.hs-scripts.com/9424080.js"></script>

</body>

</html>